.button2 {
    color: rgb(0, 0, 0);
    background-color: rgb(224, 162, 168);
    border: none;
    height: 50px;
    width: 500px;
    border-radius: 10px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bolder;
    font-size: 20px;
}
.button2:hover {
    border: 2px solid black;
    color: red;
    background-color: antiquewhite;
    box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px, rgba(6, 24, 44, 0.65) 0px 4px 6px -1px, rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
}